<div class="content p-1">
    <div class="list-group-item">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">Cadastro da Conta Bancária da Empresa</h2>
            </div>
            <div class="card-body">
                {{>_msg}}
                <hr>
                <form method="POST" action="/contaEmpresa/save-conta">
                   <!-- <input name="idEmpresa" id="idEmpresa" type="hidden" value="{{empresa.idEmpresa}}"> -->
                    <input name="idConta" id="idConta" type="hidden" value="{{conta.idConta}}">

                    <div class="form-group col-md-7">
                        <label for="idEmpresa">Empresa</label>
                        <select name="idEmpresa" id="idEmpresa" class="custom-select">
                            {{#each empresa}}
                            <option value="{{idEmpresa}}">{{razaoSocial}}</option>
                            {{else}}
                            <option value="0">Nehuma Empresa Cadastrada</option>
                            {{/each}}

                        </select>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Dados da Conta Corrente</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label><span class="text-danger">*</span> Nome do Banco:</label>
                                    <input name="nomeBanco" type="text" class="form-control" id="nomeBanco"
                                        value="{{conta.nomeBanco}}" placeholder="Banco" required>
                                </div>
                                
                                <div class="form-group col-md-3">
                                    <label><span class="text-danger">*</span> Numero do Banco:</label>
                                    <input name="numeroBanco" type="text" class="form-control" id="numeroBanco"
                                        placeholder="Numero Bancario" value="{{conta.numeroBanco}}" required>
                                </div>

                                <div class="form-group col-md-3">
                                    <label><span class="text-danger">*</span> Agência Bancária:</label>
                                    <input name="agencia" type="text" class="form-control" id="agencia"
                                        placeholder="Agência" value="{{conta.agencia}}" required>
                                </div>

                                <div class="form-group col-md-2">
                                    <label><span class="text-danger "></span> Operação:</label>
                                    <input name="operacao" type="text" class="form-control" id="operacao"
                                        value="{{conta.operacao}}" placeholder="Operação da Conta">
                                </div>

                                <div class="form-group col-md-2">
                                    <label><span class="text-danger ">*</span> Número da Conta:</label>
                                    <input name="numeroConta" type="text" class="form-control" id="numeroConta"
                                        value="{{conta.numeroConta}}" placeholder="Número Conta" required>
                                </div>

                                <div class="form-group col-md-2">
                                    <label><span class="text-danger ">*</span> Nome Titular:</label>
                                    <input name="nome" type="text" class="form-control" id="nome"
                                        value="{{conta.nome}}" placeholder="Nome Titular">
                                </div>

                                <div class="form-group col-md-2">
                                    <label><span class="text-danger ">*</span> CPF:</label>
                                    <input name="cpf" type="text" class="form-control" id="cpf"
                                        value="{{conta.cpf}}" placeholder="CPF" onblur="$(this).mask('999.999.999-99');">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="reset" class="btn btn-secondary">Cancelar</button>
                            <a href="/contaEmpresa/list-contas" class="btn btn-warning">Listar Contas</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>